body{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.header {
    display: flex;
   
    background-color: rgb(118, 180, 201);
    height: 12vh;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}
.cuadrado {
 width: 8vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 

}
.cuadrado-raro {
    background-color: rgb(209, 231, 238);
}
.rayablanca{
    background-color: white;
    height: 14%;
}


.main {
    height: 50vh;
    background-color: lightblue;
    display: flex;
}

.left {
    width: 40%;
   
    
}
.right{
    width: 60%;
    height: 100%;
    
    
}
.rectanguloRIGHT {
    height: 7%;
    width: 32%;
    background-color: rgb(118, 180, 201);
    margin-left: 1.5%;
    margin-top: 2.7%;
    margin-bottom: 1.3%;
}
.rayas {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
    height: 100%;
    gap: 2vh;
}
.rayasMAIN{
    margin-left: -15.8%;
    
}
.rayita {
    height: 1vh; 
    width: 65.2%;
    background-color: white;
}
.chiquita{
 width: 35%;
}


.form-container{
    height: 80%;
    width: 40%;
    background-color: #eee;
    margin-left:50% ;
    margin-top: 4.2%;
}

.form-top {
    background-color: #555;
        width: 100%;
        height: 18%;
        margin-bottom: 5%;
}

.inputs-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.input-form{
    background-color: white;
    height:9%;  
    width: 55%;
    margin: 5%;
}

.azul {
    background-color: rgb(118, 180, 201);
}


.publications {
    height: 80vh;
    width: 100%;
    
}
.top {
    width: 100%;
    height: 27vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rectanguloTOP {
    height: 4vh;
    width: 60%;
    background-color: #555;
    margin-top: 2.5%;
    margin-bottom: 1.8%;
}´
.rayasTOP {
    gap: 4%;
    width: 60%;
}
.rt {
    height: 1vh;
    width: 60%;
    background-color: #bbb;
}
.ct {
    background-color: #bbb;
}
.projects-container{
width: 100%;
height: fit-content;
display: flex;
justify-content: center;
gap: 7.5%;

}
.project {
    height: 40vh;
   
    width: 15%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.image{
    height: 45vh;
    width: 80%;
    background-color: rgb(118, 180, 201);
}
.rectanguloPROJECT {
    height: 7vh;
    width: 80%;
    background-color: #555;
    margin-top: 15%;
    margin-bottom: 3vh;
}


.footer {
    display: flex;
    background-color: #666;
    height: 12vh;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.larga {
    width: 10.3vw;
}